<div class="card-wrapper">
  <div class="image-wrapper"><img src="" alt="" /></div>
  <div class="text-wrapper">
    <div class="title-wrapper">
      <p class="grop_title">Muffackars</p>
    </div>
    <div class="last-msg-wrapper">
      <p class="last_msg">last msg has been..</p>
    </div>
  </div>
  <div class="info-wrapper">
    <div class="status-wrapper">
      <p class="status">online</p>
    </div>
    <div class="unread-wrapper">
      <div class="unread">2</div>
    </div>
  </div>
</div>
