<div class="message-wrapper">
  <app-chat-header></app-chat-header>
  <div class="messages">
    <app-message sender="asdasd" first="true" msg="asd"></app-message>
    <app-message sender="asdasd" msg="asdasdasdasd"></app-message>
    <app-message sender="asdasd" msg="asdasdasasldkfja;sddasd"></app-message>
    <app-message
      sender="asdasd"
      msg="asdasdaskfjdkfja;sldkfja;sdlkfja;sdlfkja;sdklfja;sdlfkjas;dlkfjas;dlkfajs;dlfkajs;dlfkajsdf;afasdfasdfjasdlfkjasdlkjfa;lsdfja;lsdkfja;lsdkfja;dlskfja;dlkfja;sdkljfa;sdlkfja;sdklfja;sdlkfja;lsdkfja;lsdkfja;lsdkfja;lsdkjfa;sldkfja;lsdkfja;sdklfja;sdlkfja;lsdkfja;lsdkfja;dklsfjlksjd;alskdfja;lskdfjsadfsdfja;sdlfkja;sdlfkaj;sdlfkjas;dflkajsdf;alksdfj;alsdfkja;lsdfkja;sdlfkja;sldfkjdasd"
    ></app-message>

    <app-message
      sender=""
      first="true"
      msg="aasdfasdfasdfasdfasdfasdasdfasdfasdfsd"
    ></app-message>
    <app-message sender="" msg="asdasdasdasd"></app-message>
    <app-message sender="" msg="asdasdasasldkfja;sddasd"></app-message>
    <app-message
      sender=""
      msg="asdasdaskfjdkfja;sldkfja;sdlkfja;sdlfkja;sdklfja;sdlfkjas;dlkfjas;dlkfajs;dlfkajs;dlfkajsdf;afasdfasdfjasdlfkjasdlkjfa;lsdfja;lsdkfja;lsdkfja;dlskfja;dlkfja;sdkljfa;sdlkfja;sdklfja;sdlkfja;lsdkfja;lsdkfja;lsdkfja;lsdkjfa;sldkfja;lsdkfja;sdklfja;sdlkfja;lsdkfja;lsdkfja;dklsfjlksjd;alskdfja;lskdfjsadfsdfja;sdlfkja;sdlfkaj;sdlfkjas;dflkajsdf;alksdfj;alsdfkja;lsdfkja;sdlfkja;sldfkjdasd"
    ></app-message>
  </div>
</div>
<div class="input-wrapper">
  <app-chat-input></app-chat-input>
</div>
